In [1]:
import pandas as pd
from binance import Client
import os
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
coins = pd.read_excel("../database/export_binance/df_new.xlsx")
coins = coins['Coin'].unique()
coins

/var/folders/yl/s1pq6fh930j3frb4n30yfhv00000gn/T/ipykernel_41735/2090199376.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  coins = pd.read_excel("../database/export_binance/df_new.xlsx")

array(['SOL', 'BTC', 'BNB', 'BUSD', 'USDT', 'LTC', 'EUR', 'LINK', 'AVAX',
       'MATIC', 'SUSHI', 'SAND', 'ATOM', 'QUICK', 'EOS', 'AAVE', 'UNI',
       'AUDIO', 'MANA', 'ETH', 'XTZ', 'LUNA', 'FTM', 'ADA', 'CAKE', 'DOT',
       'BETA', 'WETH', 'FTT', 'CELR', 'RUNE', 'EDG', 'USDC', 'NEAR'],
      dtype=object)

In [3]:
len(coins)

34

In [4]:
api_key = os.getenv("BNB_API_KEY")
api_secret = os.getenv("BNB_SECRET_KEY")
client = Client(api_key, api_secret)
prices = pd.DataFrame()
for i in coins:
    if i == "USDT":
        pass
    elif i == "WETH":
        try:
            ticker = 'ETHUSDT'
            klines = pd.DataFrame(client.get_historical_klines(ticker, Client.KLINE_INTERVAL_1DAY, "1 Jan, 2021", "23 Jun, 2022"), columns=["open_time", "open", "high", "low", "close", "volume", "close_time", "quote_asset_volume", "number_of_trades", "taker_buy_base_asset_volume", "taker_buy_quote_asset_volume", "ignore"])
            klines['open_time'] = pd.to_datetime(klines.open_time, unit='ms')
            klines = klines.drop(['open', 'high', 'low', 'volume', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore', 'close_time'], axis=1)
            klines.rename(columns={'open_time': 'datetime', 'close': 'WETHUSDT'}, inplace=True)
            klines.set_index('datetime', inplace=True)
            prices = pd.merge(prices, klines, how='outer', left_index=True, right_index=True)
        except:
            pass
    else:
        try:
            ticker = i + "USDT"
            klines = pd.DataFrame(client.get_historical_klines(ticker, Client.KLINE_INTERVAL_1DAY, "1 Jan, 2021", "23 Jun, 2022"), columns=["open_time", "open", "high", "low", "close", "volume", "close_time", "quote_asset_volume", "number_of_trades", "taker_buy_base_asset_volume", "taker_buy_quote_asset_volume", "ignore"])
            klines['open_time'] = pd.to_datetime(klines.open_time, unit='ms')
            klines = klines.drop(['open', 'high', 'low', 'volume', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore', 'close_time'], axis=1)
            klines.rename(columns={'open_time': 'datetime', 'close': ticker}, inplace=True)
            klines.set_index('datetime', inplace=True)
            prices = pd.merge(prices, klines, how='outer', left_index=True, right_index=True)
        except:
            klines = pd.DataFrame({ticker: []})
            prices = pd.merge(prices, klines, how='outer', left_index=True, right_index=True)
prices = prices.fillna(0)
prices

,SOLUSDT,BTCUSDT,BNBUSDT,BUSDUSDT,LTCUSDT,EURUSDT,LINKUSDT,AVAXUSDT,MATICUSDT,SUSHIUSDT,...,CAKEUSDT,DOTUSDT,BETAUSDT,WETHUSDT,FTTUSDT,CELRUSDT,RUNEUSDT,EDGUSDT,USDCUSDT,NEARUSDT
datetime,,,,,,,,,,,,,,,,,,,,,
2021-01-01,1.84210000,29331.69000000,37.77620000,0.99730000,126.24000000,1.21830000,11.84770000,3.64970000,0.01777000,3.33300000,...,0,8.27760000,0,728.91000000,5.80600000,0.00479000,1.28740000,0.0,0.99740000,1.35870000
2021-01-02,1.79990000,32178.33000000,38.23310000,0.99890000,136.96000000,1.24120000,12.22150000,3.49560000,0.01904000,3.20300000,...,0,9.20370000,0,774.56000000,6.20000000,0.00480000,1.29190000,0.0,0.99890000,1.41240000
2021-01-03,2.17790000,33000.05000000,41.25750000,0.99790000,161.24000000,1.25940000,13.68140000,3.46910000,0.01997000,3.44500000,...,0,10.13070000,0,978.28000000,6.94500000,0.00538000,1.48390000,0.0,0.99920000,1.47070000
2021-01-04,2.49090000,31988.71000000,41.13330000,0.99930000,155.34000000,1.22860000,13.59350000,3.59990000,0.02468000,3.56300000,...,0,9.51260000,0,1041.43000000,7.53500000,0.00566000,1.59290000,0.0,0.99940000,1.38680000
2021-01-05,2.16360000,33949.53000000,41.82190000,0.99690000,158.43000000,1.22740000,14.51620000,4.25010000,0.02440000,3.85300000,...,0,9.70840000,0,1099.56000000,8.65600000,0.00592000,1.58260000,0.0,0.99690000,1.49530000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-19,34.19000000,20574.00000000,215.10000000,1.00140000,54.29000000,1.04710000,6.60000000,16.16000000,0.38400000,1.04400000,...,3.01100000,7.53000000,0.09739000,1128.53000000,25.06000000,0.01410000,1.78100000,0.0,1.00130000,3.28800000
2022-06-20,35.24000000,20573.89000000,216.50000000,1.00130000,52.77000000,1.05260000,6.98000000,17.10000000,0.40000000,1.10700000,...,3.02300000,7.87000000,0.09864000,1128.24000000,26.69000000,0.01454000,1.83900000,0.0,1.00120000,3.40900000
2022-06-21,36.42000000,20723.52000000,220.10000000,1.00120000,53.52000000,1.05310000,6.86000000,16.90000000,0.42000000,1.24200000,...,3.07900000,7.77000000,0.09909000,1125.85000000,27.39000000,0.01550000,1.84600000,0.0,1.00120000,3.51800000
2022-06-22,34.12000000,19987.99000000,214.40000000,1.00110000,52.13000000,1.05690000,6.63000000,16.09000000,0.45500000,1.18700000,...,3.02400000,7.39000000,0.09481000,1050.19000000,25.18000000,0.01503000,1.76900000,0.0,1.00110000,3.28000000
2022-06-23,38.15000000,21110.13000000,228.90000000,1.00100000,55.74000000,1.05250000,6.99000000,18.29000000,0.56200000,1.24800000,...,3.25000000,7.78000000,0.10189000,1144.72000000,26.34000000,0.01651000,2.17700000,0.0,1.00090000,3.55400000

In [5]:
prices.to_excel('../database/prices/historical_prices_1.xlsx')