In [2]:
import pandas as pd

In [24]:
pd.read_excel('../database/export_binance/miguel_merged.xlsx', index_col=0)

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark
0,11351073,2021-04-23 08:05:00,Spot,Deposit,EUR,49.100000,NaN
1,11351073,2021-05-18 10:27:11,Spot,Large OTC trading,EUR,-49.100000,NaN
2,11351073,2021-05-18 10:27:11,Spot,Large OTC trading,BTC,0.001321,NaN
3,11351073,2021-05-22 09:01:55,Spot,Deposit,EUR,58.920000,NaN
4,11351073,2021-05-22 09:05:23,Spot,Large OTC trading,BTC,0.001929,NaN
...,...,...,...,...,...,...,...
766,11351073,2022-05-31 00:00:00,USDT-Futures,Funding Fee,USDT,-0.072973,NaN
767,11351073,2022-05-31 02:16:36,Spot,Distribution,LUNA,2.705665,NaN
768,11351073,2022-05-31 08:00:00,USDT-Futures,Funding Fee,USDT,-0.072613,NaN
769,11351073,2022-05-31 16:00:00,USDT-Futures,Funding Fee,USDT,-0.073711,NaN
770,11351073,2022-05-31 18:13:08,Spot,Deposit,LUNA,5.687496,NaN

In [23]:
pd.read_excel('../database/export_binance/df_new.xlsx', index_col=0).dtypes

/var/folders/yl/s1pq6fh930j3frb4n30yfhv00000gn/T/ipykernel_92593/785665653.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pd.read_excel('../database/export_binance/df_new.xlsx', index_col=0).dtypes

User_ID               int64
UTC_Time     datetime64[ns]
Account              object
Operation            object
Coin                 object
Change              float64
Remark               object
dtype: object

In [7]:
pd.read_excel('../database/prices/historical_prices_miguel.xlsx').dtypes

datetime     datetime64[ns]
EURUSDT             float64
BTCUSDT             float64
ETHUSDT             float64
BNBUSDT             float64
BUSDUSDT            float64
ONGUSDT             float64
ONTUSDT             float64
AXSUSDT             float64
SLPUSDT             float64
SOLUSDT             float64
LUNAUSDT            float64
MATICUSDT           float64
ADAUSDT             float64
USTUSDT             float64
ROSEUSDT            float64
JASMYUSDT           float64
dtype: object

In [4]:
df_hist_prices = pd.read_excel('../database/prices/historical_prices.xlsx')

In [7]:
df_hist_prices_copy = df_hist_prices.copy()

In [8]:
df_hist_prices_copy

,datetime,SOLUSDT,BTCUSDT,BNBUSDT,BUSDUSDT,LTCUSDT,EURUSDT,LINKUSDT,AVAXUSDT,MATICUSDT,...,CAKEUSDT,DOTUSDT,BETAUSDT,WETHUSDT,FTTUSDT,CELRUSDT,RUNEUSDT,EDGUSDT,USDCUSDT,NEARUSDT
0,2021-01-01,1.8421,29331.69,37.7762,0.9973,126.24,1.2183,11.8477,3.6497,0.01777,...,0.000,8.2776,0.00000,728.91,5.806,0.00479,1.2874,0,0.9974,1.3587
1,2021-01-02,1.7999,32178.33,38.2331,0.9989,136.96,1.2412,12.2215,3.4956,0.01904,...,0.000,9.2037,0.00000,774.56,6.200,0.00480,1.2919,0,0.9989,1.4124
2,2021-01-03,2.1779,33000.05,41.2575,0.9979,161.24,1.2594,13.6814,3.4691,0.01997,...,0.000,10.1307,0.00000,978.28,6.945,0.00538,1.4839,0,0.9992,1.4707
3,2021-01-04,2.4909,31988.71,41.1333,0.9993,155.34,1.2286,13.5935,3.5999,0.02468,...,0.000,9.5126,0.00000,1041.43,7.535,0.00566,1.5929,0,0.9994,1.3868
4,2021-01-05,2.1636,33949.53,41.8219,0.9969,158.43,1.2274,14.5162,4.2501,0.02440,...,0.000,9.7084,0.00000,1099.56,8.656,0.00592,1.5826,0,0.9969,1.4953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,2022-05-27,41.1700,28629.80,301.6000,1.0013,61.60,1.0740,6.2900,22.5800,0.57400,...,4.290,9.1200,0.11542,1727.27,26.420,0.01624,2.4380,0,1.0013,4.8060
512,2022-05-28,44.2500,29031.33,307.5000,1.0010,63.00,1.0730,6.5800,24.7600,0.58800,...,4.345,9.6500,0.13962,1792.22,27.110,0.01656,2.5740,0,1.0011,4.9980
513,2022-05-29,44.9800,29468.10,305.8000,1.0011,63.60,1.0720,6.7100,26.1600,0.60000,...,4.457,9.9800,0.13548,1813.64,27.280,0.01702,2.6970,0,1.0010,5.1820
514,2022-05-30,47.2200,31734.22,321.8000,1.0007,69.10,1.0770,7.4600,27.7100,0.65800,...,4.781,10.4700,0.14412,1998.78,29.160,0.01933,3.3150,0,1.0008,5.7600
515,2022-05-31,45.7700,31801.04,320.9000,1.0007,68.40,1.0740,7.5900,26.4200,0.66300,...,4.645,10.3500,0.12856,1941.90,28.940,0.01928,3.1600,0,1.0008,5.9570