In [1]:
import pandas as pd

### concat reports to get the full one

In [2]:
df1 = pd.read_csv('../database/export_binance/nahem/nahem_1.csv')
df1['report'] = 'nahem_1'
df2 = pd.read_csv('../database/export_binance/nahem/nahem_2.csv')
df2['report'] = 'nahem_2'
df3 = pd.read_csv('../database/export_binance/nahem/nahem_3.csv')
df3['report'] = 'nahem_3'
df4 = pd.read_csv('../database/export_binance/nahem/nahem_4.csv')
df4['report'] = 'nahem_4'
df5 = pd.read_csv('../database/export_binance/nahem/nahem_5.csv')
df5['report'] = 'nahem_5'

In [3]:
merged = pd.concat([df1, df2, df3, df4, df5], axis=0)
merged.reset_index(drop=True, inplace=True)
merged

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark,report
0,11233391,2017-11-22 14:31:53,Spot,Deposit,QSP,4148.000000,NaN,nahem_1
1,11233391,2017-11-22 23:47:19,Spot,Commission History,POWR,0.150000,NaN,nahem_1
2,11233391,2017-11-28 15:17:13,Spot,Deposit,ETH,5.000000,NaN,nahem_1
3,11233391,2017-11-28 15:19:55,Spot,Fee,IOTA,-0.047000,NaN,nahem_1
4,11233391,2017-11-28 15:19:55,Spot,Buy,IOTA,39.000000,NaN,nahem_1
...,...,...,...,...,...,...,...,...
16020,11233391,2022-05-13 20:52:39,USDT-Futures,Referrer rebates,USDT,0.020790,NaN,nahem_5
16021,11233391,2022-05-18 21:13:05,USDT-Futures,Referrer rebates,USDT,0.007015,NaN,nahem_5
16022,11233391,2022-05-18 21:13:05,USDT-Futures,Referrer rebates,USDT,0.021044,NaN,nahem_5
16023,11233391,2022-05-18 21:13:05,USDT-Futures,Referrer rebates,USDT,0.001169,NaN,nahem_5
16024,11233391,2022-05-30 01:07:47,Spot,Distribution,LUNA,0.000178,NaN,nahem_5

In [27]:
duplicateRowsDF = merged[merged.duplicated()]
duplicateRowsDF_all = merged[merged.duplicated(subset=merged.columns.difference(['report']))]
df_diff = pd.concat([duplicateRowsDF,duplicateRowsDF_all]).drop_duplicates(keep=False)
merged = merged.drop(df_diff.index, axis=0)
merged.to_excel('../database/export_binance/nahem/nahem_merged.xlsx')

In [24]:
merged.set_index('UTC_Time', inplace=True)

In [25]:
merged

,User_ID,Account,Operation,Coin,Change,Remark,report
UTC_Time,,,,,,,
2017-11-22 14:31:53,11233391,Spot,Deposit,QSP,4148.000000,NaN,nahem_1
2017-11-22 23:47:19,11233391,Spot,Commission History,POWR,0.150000,NaN,nahem_1
2017-11-28 15:17:13,11233391,Spot,Deposit,ETH,5.000000,NaN,nahem_1
2017-11-28 15:19:55,11233391,Spot,Fee,IOTA,-0.047000,NaN,nahem_1
2017-11-28 15:19:55,11233391,Spot,Buy,IOTA,39.000000,NaN,nahem_1
...,...,...,...,...,...,...,...
2022-05-13 20:52:39,11233391,USDT-Futures,Referrer rebates,USDT,0.020790,NaN,nahem_5
2022-05-18 21:13:05,11233391,USDT-Futures,Referrer rebates,USDT,0.007015,NaN,nahem_5
2022-05-18 21:13:05,11233391,USDT-Futures,Referrer rebates,USDT,0.021044,NaN,nahem_5
2022-05-18 21:13:05,11233391,USDT-Futures,Referrer rebates,USDT,0.001169,NaN,nahem_5
2022-05-30 01:07:47,11233391,Spot,Distribution,LUNA,0.000178,NaN,nahem_5

In [35]:
value_count = merged.index.value_counts().reset_index()
value_count = value_count.loc[value_count['UTC_Time'] == 1]
single_dates = list(value_count['index'])

In [37]:
single_JE = merged.loc[single_dates]
single_JE

,User_ID,Account,Operation,Coin,Change,Remark,report
UTC_Time,,,,,,,
2021-11-19 16:00:03,11233391,USDT-Futures,Funding Fee,USDT,-5.203563,NaN,nahem_5
2021-11-26 00:00:03,11233391,USDT-Futures,Funding Fee,USDT,-11.978515,NaN,nahem_5
2021-12-05 08:00:01,11233391,USDT-Futures,Funding Fee,USDT,56.886008,NaN,nahem_5
2021-11-26 08:00:03,11233391,USDT-Futures,Funding Fee,USDT,-8.920874,NaN,nahem_5
2021-12-01 08:00:00,11233391,USDT-Futures,Funding Fee,USDT,-2.531224,NaN,nahem_5
...,...,...,...,...,...,...,...
2021-08-24 02:51:48,11233391,Savings,Savings Interest,BNB,0.000096,NaN,nahem_4
2021-08-24 02:54:27,11233391,Savings,Savings Interest,BTC,0.000002,NaN,nahem_4
2021-08-24 04:34:35,11233391,Spot,Super BNB Mining,MBOX,0.100582,NaN,nahem_4
2021-08-24 11:21:00,11233391,Card,Binance Card Spending,EUR,-6.790000,NaN,nahem_4
2022-05-30 01:07:47,11233391,Spot,Distribution,LUNA,0.000178,NaN,nahem_5

In [38]:
single_JE['Operation'].unique()

array(['Funding Fee', 'Referrer rebates', 'Fee', 'Binance Card Spending',
       'Card Cashback', 'Deposit', 'Withdraw', 'NFT transaction',
       'Commission Rebate', 'Savings purchase', 'Savings Interest',
       'Savings distribution', 'Super BNB Mining', 'transfer_out',
       'POS savings interest', 'POS savings redemption', 'Distribution',
       'POS savings purchase', 'Transaction Related',
       'Commission History', 'Buy', 'First come first served Purchase',
       'Launchpad subscribe', 'Launchpad token distribution',
       'Cash Voucher distribution', 'Launchpool Interest'], dtype=object)

In [40]:
single_JE.loc[(single_JE['Operation'] == 'transfer_out') | (single_JE['Operation'] == 'Transaction Related') | (single_JE['Operation'] == 'Buy') | (single_JE['Operation'] == 'First come first served Purchase') ]

,User_ID,Account,Operation,Coin,Change,Remark,report
UTC_Time,,,,,,,
2021-04-20 08:25:36,11233391,Spot,transfer_out,BTC,-0.050122,NaN,nahem_4
2021-04-11 08:57:29,11233391,Spot,transfer_out,BUSD,-1901.474400,NaN,nahem_4
2020-08-23 11:51:24,11233391,Spot,transfer_out,USDT,-1000.000000,NaN,nahem_3
2017-12-26 15:13:26,11233391,Spot,Transaction Related,BRD,-1590.000000,NaN,nahem_1
2018-01-02 19:24:08,11233391,Spot,Buy,BRD,1000.000000,NaN,nahem_1
2018-01-04 11:57:09,11233391,Spot,Transaction Related,DNT,-85.000000,NaN,nahem_1
2018-01-10 06:17:14,11233391,Spot,Buy,ZRX,261.000000,NaN,nahem_1
2017-12-19 12:02:41,11233391,Spot,First come first served Purchase,BNB,-541.050000,NaN,nahem_1
2017-12-19 12:00:15,11233391,Spot,First come first served Purchase,ETH,-5.544439,NaN,nahem_1
2021-01-17 23:48:57,11233391,Spot,transfer_out,BTC,-0.001557,NaN,nahem_4
2021-02-09 17:28:54,11233391,Spot,transfer_out,USDT,-3727.565239,NaN,nahem_4
2021-02-13 08:30:03,11233391,Spot,transfer_out,BUSD,-5000.000000,NaN,nahem_4
2021-02-17 09:15:18,11233391,Spot,transfer_out,BUSD,-2417.151586,NaN,nahem_4