In [6]:
import pandas as pd

In [10]:
df_ns = pd.read_csv('../database/export_binance/exports_binance_ns.csv')
df_fs = pd.read_csv('../database/export_binance/exports_binance_fs.csv')

In [16]:
df = pd.concat([df_ns, df_fs])
df

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark
0,11233391,2021-05-31 02:59:00,Savings,Savings Interest,BNB,0.000275,NaN
1,11233391,2021-05-31 03:57:17,Savings,Savings Interest,BUSD,1.794040,NaN
2,11233391,2021-05-31 06:39:44,Savings,Savings Interest,BTC,0.000005,NaN
3,11233391,2021-05-31 20:57:15,Savings,Savings purchase,BTC,-0.000005,NaN
4,11233391,2021-05-31 20:57:15,Spot,Savings distribution,LDBTC,0.000005,NaN
...,...,...,...,...,...,...,...
3295,15578312,2022-06-02 03:39:30,Savings,Savings Interest,BTC,0.000004,NaN
3296,15578312,2022-06-03 03:40:16,Savings,Savings Interest,BTC,0.000004,NaN
3297,15578312,2022-06-04 03:40:34,Savings,Savings Interest,BTC,0.000004,NaN
3298,15578312,2022-06-05 02:23:42,Savings,Savings Interest,BTC,0.000004,NaN
3299,15578312,2022-06-06 03:40:27,Savings,Savings Interest,BTC,0.000004,NaN

In [17]:
account_unique = df['Account'].unique()
account_unique

array(['Savings', 'Spot', 'Card', 'USDT-Futures', 'IsolatedMargin',
       'CrossMargin', 'P2P'], dtype=object)

In [19]:
operation_unique = df['Operation'].unique()
operation_unique

array(['Savings Interest', 'Savings purchase', 'Savings distribution',
       'Buy', 'Transaction Related', 'Fee', 'Super BNB Mining',
       'Binance Card Spending', 'Card Cashback', 'Deposit', 'Sell',
       'NFT transaction', 'Withdraw', 'Savings Principal redemption',
       'transfer_in', 'transfer_out', 'Small assets exchange BNB',
       'Launchpool Interest', 'BNB deducts fee',
       'Realize profit and loss', 'Insurance fund compensation',
       'Funding Fee', 'Distribution', 'Launchpad subscribe',
       'Launchpad token distribution', 'POS savings purchase',
       'POS savings interest', 'Large OTC trading',
       'POS savings redemption', 'Referrer rebates', 'Commission Rebate',
       'Asset Conversion Transfer'], dtype=object)

In [20]:
coin_unique = df['Coin'].unique()
coin_unique

array(['BNB', 'BUSD', 'BTC', 'LDBTC', 'DOGE', 'LTC', 'ATA', 'EUR', 'BAND',
       'KLAY', 'USDT', 'MATIC', 'MANA', 'SNX', 'SUPER', 'LDBUSD', 'SUSHI',
       'SOL', 'LDBNB', 'TLM', 'MINA', 'ATOM', 'LINK', 'MBOX', 'EOS',
       'AAVE', 'RAY', 'ETH', 'XTZ', 'LUNA', 'QUICK', 'FTM', 'AVAX',
       'TORN', 'CAKE', 'SUB', 'BETA', 'WETH', 'FTT', 'MIR', 'ONE', 'DUSK',
       'RUNE', 'UST', 'SLP', 'USDC', 'STORM', 'ADA', 'DOT', 'KSM', 'SAND',
       'SFP', 'UNI', 'AUDIO', 'REN', 'QI', 'QISWAP', 'SCRT', 'CELR',
       'EDG', 'NEAR'], dtype=object)

In [25]:
remark_unique = df['Remark'].unique()
remark_unique

array([nan, 'Withdraw fee is included', '穿仓保证金补偿'], dtype=object)

In [26]:
#df.to_excel('../database/export_binance/exports_binance.xlsx')

In [33]:
df.groupby(['Coin']).sum().sort_values(by='Change', ascending=False)

            User_ID        Change
Coin
USDT    97752316702   2373.615182
ONE       121023752   1700.000000
EDG        15578312    113.678000
QISWAP     15578312     32.500000
FTM       547150433      0.634235
...             ...           ...
SUPER      26811703  -1730.500765
BUSD    16424247217  -1892.367225
DOGE      101100519  -6054.000000
STORM      11233391 -13475.000000
LDBUSD     33700173 -29900.674047

[61 rows x 2 columns]